body {
  color: white;
  background-color: rgb(59, 28, 100);
  text-align: center;
}

#title {
  font-family: 'Fredoka One', cursive;
  /* text-align: center; */
  font-size: 3rem;
  flex: 3;
}

#main_mash {
  text-align: center;
}

#flex_container {
  width: 90%;
}
.flex_row {
  display: flex;
}

#mash_frame {
  flex: 3;
}

#upgrades_frame {
  flex: 1;
}

.spacer {
  flex: 1;
}
